.flexContainer {
    display: flex;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

body {
    margin: 0px;
    background-color: rgb(6, 7, 82);
    color: white;
    line-height: 1px;
}
